.main.menu
  %h1.ui.header
    %a.logo{:href => "/"}
      = image_tag("logo.svg" , alt: "信用卡優惠快搜 by GoodLife" )
  .ui.search_wrap
    .ui.transparent.icon.input
      %input.prompt{:placeholder => "搜尋優惠、店家、信用卡...", :type => "text"}
        %i.search.icon
    .results
  