/* line 6, ../../app/assets/stylesheets/styles.sass */
html {
  font-size: 15px;
  height: 100%;
}

/* line 10, ../../app/assets/stylesheets/styles.sass */
body {
  font-size: 15px;
  height: 100%;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: white;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

/* header */
/* line 22, ../../app/assets/stylesheets/styles.sass */
.ui.header {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* line 24, ../../app/assets/stylesheets/styles.sass */
a.logo {
  text-decoration: none;
  color: #81dbe9;
}

/* line 27, ../../app/assets/stylesheets/styles.sass */
.main.menu {
  padding: 1.8rem 0 1rem;
}
/* line 29, ../../app/assets/stylesheets/styles.sass */
.main.menu .button.button.button, .main.menu input {
  font-size: 1.1rem;
}
/* line 31, ../../app/assets/stylesheets/styles.sass */
.main.menu .mail.icon {
  font-size: 1.8em;
}
/* line 33, ../../app/assets/stylesheets/styles.sass */
.main.menu .chat.icon {
  font-size: 1.2rem;
}
/* line 35, ../../app/assets/stylesheets/styles.sass */
.main.menu .ui.green {
  padding: 0 2.5rem;
}
/* line 37, ../../app/assets/stylesheets/styles.sass */
.main.menu h1.header {
  display: inline-block;
  margin-left: 30px;
}
/* line 40, ../../app/assets/stylesheets/styles.sass */
.main.menu .dropdown.dropdown {
  color: #e98196;
  position: relative;
  padding-left: 40px;
  font-size: 0.8em;
}
/* line 45, ../../app/assets/stylesheets/styles.sass */
.main.menu .dropdown.dropdown i {
  position: absolute;
  left: -30px;
  top: 5px;
}

/* line 51, ../../app/assets/stylesheets/styles.sass */
.home .grid, .home > .grid > .column {
  height: 100%;
}
/* line 53, ../../app/assets/stylesheets/styles.sass */
.home .inbox.tab {
  background-color: white;
}
/* line 55, ../../app/assets/stylesheets/styles.sass */
.home .inbox.tab .item {
  padding: 0.5rem 1rem 1rem;
}
/* line 57, ../../app/assets/stylesheets/styles.sass */
.home .inbox.tab .item .rating {
  margin-top: 0.9rem;
}
/* line 59, ../../app/assets/stylesheets/styles.sass */
.home .inbox.tab .item h2.title {
  font-size: 1em;
  margin-left: 2em;
  color: #666666;
}

/* line 63, ../../app/assets/stylesheets/styles.sass */
.column.job-list.column.job-list {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0 0 40px;
  margin-top: 80px;
}
/* line 71, ../../app/assets/stylesheets/styles.sass */
.column.job-list.column.job-list .inbox.tab {
  margin-top: 80px;
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
}
/* line 77, ../../app/assets/stylesheets/styles.sass */
.column.job-list.column.job-list .inbox.tab .item:first-child {
  padding-top: 2rem;
}
/* line 79, ../../app/assets/stylesheets/styles.sass */
.column.job-list.column.job-list .sticky {
  position: fixed;
  background-color: white;
  right: 0;
  top: 120px;
  width: 100%;
  z-index: 100;
}
/* line 87, ../../app/assets/stylesheets/styles.sass */
.column.job-list.column.job-list .sticky h2 {
  padding-left: 1em;
}
/* line 89, ../../app/assets/stylesheets/styles.sass */
.column.job-list.column.job-list .sticky .tabular a:first-child {
  margin-left: 2rem;
}
/* line 91, ../../app/assets/stylesheets/styles.sass */
.column.job-list.column.job-list .mask {
  position: absolute;
  background: linear-gradient(#ffffff, rgba(255, 255, 255, 0));
  height: 2.5rem;
  display: block;
  width: 100%;
}

/* line 97, ../../app/assets/stylesheets/styles.sass */
.column.job-content.column.job-content {
  padding: 60px 40px 80px;
  right: 0;
  overflow-y: scroll;
  position: fixed;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
}
/* line 105, ../../app/assets/stylesheets/styles.sass */
.column.job-content.column.job-content .description i.icon.map.marker {
  margin-left: 0;
}

/* line 107, ../../app/assets/stylesheets/styles.sass */
.ui.selection.list .item.active {
  border-left: 5px solid #81dbe9;
  background-color: white;
}
/* line 111, ../../app/assets/stylesheets/styles.sass */
.ui.selection.list .item.active.item h2.title {
  color: black;
}

/* line 114, ../../app/assets/stylesheets/styles.sass */
.description i {
  margin-left: 2rem;
}

/* line 117, ../../app/assets/stylesheets/styles.sass */
.ui.page.grid.ui.page.grid {
  padding: 130px 0 100px;
  max-width: 1200px;
  margin: 0 auto !important;
}

/* line 121, ../../app/assets/stylesheets/styles.sass */
.column.disabled {
  opacity: 0.2;
}

@media only screen and (max-width: 1000px) {
  /* line 125, ../../app/assets/stylesheets/styles.sass */
  .home .inbox .date {
    float: none;
    margin-bottom: 0.5em;
  }
}
@media only screen and (max-width: 1250px) {
  /* line 130, ../../app/assets/stylesheets/styles.sass */
  .home .left.column > .menu .item {
    font-size: 1rem;
  }
}
