
.ui.grid.page.news_content
  .list
    %h2.news_title
      %i.ticket.icon.circular.inverted.yellow
      六福村 12/31前，玉山公益門票550元，12/20著聖誕老人裝＋捐贈兒童讀物免費入園
    .ui.divider
  .ui.grid
    .eight.wide.column
      %a{:href =>"/"}  
        %i.long.arrow.left.icon
        回首頁       
    .eight.wide.column.floated.right.aligned
      %a.ui.circular.facebook.icon.button{:href => ""}
        %i.facebook.icon
      %a.ui.circular.twitter.icon.button{:href => ""}
        %i.twitter.icon
      %a.ui.circular.google.plus.icon.button{:href => ""}
        %i.google.plus.icon
  .ui.grid
    .sixteen.wide.column
      %article
        %p
          聖誕送愛免費暢遊六福村!
          12月公益愛心月　六福村邀您一起做公益
          11/24~12/31全省7-11 ibon購買六福村x玉山公益聯合門票
          公益價$550(原價$999)，玉山另外再捐贈100元至「玉山關懷兒童專案」專戶活動！
          12/20全身穿聖誕老人裝並捐贈三本兒童讀物之民眾，當天免費暢遊六福村
          （需事先來電報名，並於當天10:00前入園！）
  .ui.grid
    .sixteen.wide.column
      .description
        %p
          優惠區域: 全台
        %p
          優惠日期: 2014-12-01 ~ 2014-12-31
        %p
          分享網址: http://goo.gl/gy66XK
