.ui.grid.page.news
  .sixteen.wide.column
    .ui.selection.animated.list
      .item
        %a{:href => "content.html"}
          %h2.news_title
            %i.ticket.icon.circular.inverted.yellow
            六福村 12/31前，玉山公益門票550元，12/20著聖誕老人裝＋捐贈兒童讀物免費入園(需報名)
      .item
        %a{:href => "content.html"}
          %h2.news_title
            %i.shop.icon.circular.inverted.red
            兆豐卡至生活工場刷卡滿600送限量馬克杯
      .item
        %a{:href => "content.html"}
          %h2.news_title
            %i.coffee.icon.circular.inverted.orange
            第一銀行JCB卡好食節，美食優惠享不完，即日起～201/1/31
      .item
        %a{:href => "content.html"}
          %h2.news_title
            %i.film.icon.circular.inverted.black
            悠遊Debit卡，憑卡購票看電影可以享優惠價
      .ui.ad.centered.banner
        %a{:href => "#"}
          =image_tag("http://placehold.it/960x100")
      .item
        %a{:href => "content.html"}
          %h2.news_title
            %i.plane.icon.circular.inverted.green
            聯邦銀行卡 11/28~11/30，刷卡買高鐵返鄉投票享12%刷卡金回饋
      .item
        %a{:href => "content.html"}
          %h2.news_title
            %i.car.icon.circular.inverted.purple
            上海商銀 即日起～12/31刷卡消費，夜宿海生館活動 持卡人可折200
      .item
        %a{:href => "content.html"}
          %h2.news_title
            %i.gift.icon.circular.inverted.blue
            台北富邦采盟聯名卡，新戶辦卡送300月月獨享滿額禮
      .item
        %a{:href => "content.html"}
          %h2.news_title
            %i.payment.icon.circular.inverted.teal
            大潤發台新聯名卡點數兩倍送活動