@font-face 
  font-family: 'Noto Sans CJK'
  font-style: normal
  font-weight: 500
  src: url(/assets/stylesheets/fonts/NotoSansCJKtc-Regular.otf)
@font-face 
  font-family: 'Noto Sans CJK Bold'
  src: url(/assets/stylesheets/fonts/NotoSansCJKtc-Bold.otf)
