
$primary: #81dbe9
$em: #e92b4f

a 
  color: darken($primary,10)
  &:hover
    text-decoration: none
    color: darken($primary,20)


html
  height: 100%

body
  font-family: "Noto Sans CJK", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  background: #fefefe
  margin: 0px
  padding: 0px
  font-size: 15px
  text-rendering: optimizeLegibility
  min-width: 320px
input
  font-family: "Noto Sans CJK", "Helvetica Neue", "Helvetica", "Arial", sans-serif
h1,h2,h3,h4,h5,h6
  font-family: "Noto Sans CJK Bold", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  font-weight: 700

/* header */
a.logo
  text-decoration: none
  color: $primary
.main.menu
  padding: 1.8rem 0 0
  text-align: center
  background-color: #333
  position: fixed
  top: 0
  width: 100%
  z-index: 100
  h1.header
    img
      height: 4rem
      max-width: 100%
      width: auto
.search_wrap
  clear: both
  width: 100%
  background-color: #3767ea
  .ui.input.ui.input.ui.input
    font-size: 1.5em 
    padding: 1rem 
    width: 100% 
    max-width: 990px
    input
      background-color: rgba(#fff,0.3)
      color: rgba(#000,0.5)
      padding: 0.5rem 5rem 0.5rem 1rem !important
      &::-webkit-input-placeholder,&:-moz-placeholder,&::-moz-placeholder,&:-ms-input-placeholder
        color: #fff
      &:focus
        background-color: #fff !important
        color: #000 !important
  i.search.search.search
    right: 2rem

/* homepage */
.index
  .list.list.list
    margin-top: 12rem
    .item
      position: relative
    a
      display: inline-block
  h2
    font-size: 1.2rem
    color: #222
    margin: 0.5rem
    font-weight: normal
  .ad
    padding: 1rem 0
/* content page */
.content
  .list.list.list
    margin-top: 15rem
  p
    line-height: 2.2rem
  h2
    font-size: 1.6rem
  .wide.column.wide.column
    font-size: 1.3rem
  a
    color: #000
    &:hover
      color: #3767ea
@media (max-width: 960px)
  .ad
    img
      width: 100%
@media (max-width: 480px)
  .ad
    display: none


