!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    %link{:href => "images/touch-icon-114.png", :rel => "apple-touch-icon-precomposed"}/
    %link{:href => "images/touch-icon-72.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "images/touch-icon-114.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "images/touch-icon-144.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "images/touch-icon-144.png", :rel => "apple-touch-startup-image"}/
    %title 信用卡優惠快搜
    %link{:href => "images/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    = stylesheet_link_tag "application"

    %body{:class => "#{action_name}"}
      = render :partial => "partials/header"
      = yield
      = javascript_include_tag "application"
